.journey-item {
  display: flex;

  color: var(--text);
  
  gap: 10px;
  
  &-left,
  &-right {
    padding: 5px 10px;
  }
  
  &-left {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    border-right: 1px solid var(--text-dimmed);

    width: 80px;
  }
  
  &-right {
    display: flex;
    flex-direction: column;

    width: 100%;
  
    gap: 3px;

    &-title {
      font-size: 18px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}