.project-card {
  position: relative;
  &-background {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
  }
  
  &-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    
    &-top {
      padding: 20px;

      &-link {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--app-content-bg);
        color: var(--text);

        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: auto;
      }
    }

    &-bottom{
      padding: 30px;

      &-label {
        color: #e5e5e5;
  
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}