.app {
  max-width: 1024px;
  margin: 20px auto;
  
  &-content {
    display: flex;
    flex-direction: column;

    border-radius: 0 0 8px 8px !important;

    padding-bottom: 18px !important;
    gap: 15px;

    &-welcome {
      flex-grow: 1;
    }

    &-hero {
      flex-grow: 1;
      max-width: 450px;
      max-height: 350px;
    }
  }
}

@media (max-width: 788px) {
 .app {
    margin: 10px;
  }
}