.app {
  max-width: 1024px;
  margin: 20px auto;

  &-background {
    position: fixed;

    background-image: url("images/bg.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 98%;
    
    //background-image: url("/bg.png");
    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
  }
  &-eraser {
    position: fixed;
    z-index: 5;
    
    //background-image: url("/bg.png");
    background-color: var(--bg);

    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--navbar-top) + 10px);
  }
}

@media (max-width: 1044px) {
 .app {
    margin: 20px 10px;
  }
}