@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {  
  --bg: #282828;
  --bg-filter: none;
  --app-content-bg: #525252;

  --navbar-bg: "#171717";
  --navbar-items-bg: "#525252";
  --navbar-text: "#e5e5e5";
  --navbar-text-dimmed: "#a1a1aa";
  --navbar-text-selected: "#e5e5e5";


  --text: #e5e5e5;
  --text-dimmed: #a1a1aa;
  --text-link: #292929;
  --text-link-dimmed: #494949;
  
  --footer-bg: #171717;
  --footer-text: #a3a3a3;
  --footer-text-link: #a3a3a3;
  --footer-text-link-dimmed: #737373;
  
  
  --navbar-top: 20px;
}

* {
  box-sizing: border-box;
  
  font-family: 'Lato', sans-serif;

  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff40;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff40;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
  background-color: #ffffff60;
}