@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --bg: #eee;
  --text: #222;
  --text-dimmed: #777;
  --text-link: #292929;
  --text-link-dimmed: #494949;
  
  --app-bg: #fff;
  --app-content-bg: #ccc;
  
  --footer-bg: #333;
  --footer-text: #eee;
  --footer-text-link: #fff;
  --footer-text-link-dimmed: #ddd;
  
  // Dark
  --bg: #27272a;
  --text: #e4e4e7;
  --text-dimmed: #a1a1aa;
  --text-link: #292929;
  --text-link-dimmed: #494949;
  
  --app-bg: #3f3f46;
  --app-content-bg: #52525b;
  
  --footer-bg: #333;
  --footer-text: #e4e4e7;
  --footer-text-link: #d4d4d8;
  --footer-text-link-dimmed: #a1a1aa;
  
  
  --navbar-top: 16px;
}

* {
  box-sizing: border-box;
  
  font-family: 'Lato', sans-serif;

  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
}