.welcome-card {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(to right, #dbffe1, #c8fbd0);
  color: var(--text);

  padding: 20px;
  gap: 20px;

  &-title {
    font-weight: 500;
    font-size: 22px;
  }

  &-text {
    font-size: 14px;
  }
}