.welcome-card {
  position: relative;
  

  background-image: (url("../../assets/hero-shadow.png"));
  background-size: cover;

  color: #404040;
  
  &-inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    gap: 20px;
    
    background: rgba( 176, 176, 176, 0.3 );
    backdrop-filter: blur( 25px );
    -webkit-backdrop-filter: blur( 25px );
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    &-title {
      max-width: 300px;
      font-weight: 700;
      font-size: 28px;
    }
    
    &-text {
      flex-grow: 1;
      letter-spacing: 1px;
      max-width: 360px;
      font-size: 18px;
    }


    &-socials {
      display: flex;
      justify-content: flex-end;

      width: 100%;
      gap: 20px;

      &-item {
        opacity: 50%;
        transition: 0.2s ease-in-out;

        width: 40px;
        height: 40px;

        img {
          filter: invert(1);

          width: 100%;
          height: 100%;
        }

        &:hover {
          opacity: 70%;
          filter: drop-shadow(0 0 0.6rem #ffffff49 );
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .welcome-card {
    &-inner {

      &-title {
        font-size: 22px;
      }

      &-text {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 654px) {
  .welcome-card {
    background-image: (url("../../assets/hero-shadow-under.png"));
    
    &-inner {
      backdrop-filter: blur( 15px );
      -webkit-backdrop-filter: blur( 15px );
      color: #262626
;

      &-title {
        font-size: 22px;
      }
    }
  }
}