.app-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;

  padding: 0px 4px 10px;
  gap: 30vh;

  & > section {
    min-height: calc(100vh - 68px);
    padding: 15px 0;
    gap: 20px;
  }
}