.contact-me {
  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    color: var(--text);
  
    gap: 20px;
    padding: 20px;

    &-text {
      &-title {
        text-align: center;

        padding-bottom: 8px;
      }

      &-info {
        text-align: center;
        max-width: 340px;
        margin: 0 auto;
      }
    }

    &-links {
      display: flex;
      justify-content: flex-end;

      gap: 10px;

      &-link {
        cursor: pointer;
        text-decoration: none;
        text-align: center;

        transition: background-color 200ms ease;
    
        font-size: 18px;
        font-weight: 700;
    
        background-color: #26a641;
        color: #e5e5e5;
    
        padding: 8px 16px;
        border-radius: 8px;
    
        &:hover {
          background-color: #006d32;
        }
      }
    }
    
    @media (max-width: 462px){
      flex-direction: row;
    }
  }
}