.journey-card {
  &-inner {
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
    // -ms-overflow-style: none;  /* IE and Edge */
    // scrollbar-width: none;  /* Firefox */
    
    //max-height: 500px;
    gap: 15px;

    // &::-webkit-scrollbar {
    //   display: none; /* Chrome, Safari and Opera */
    // }

    &-label {
      text-align: center;
      font-size: 20px;

      color: var(--text);

      padding: 15px 20px 0;
    }

    &-content {
      display: flex;
      flex-direction: column;

      padding: 0 10px 20px;
      gap: 15px;
    }
  }
}