.about-section {
  display: flex;
  flex-direction: column;
  
  gap: 15px;

  &-competence-slider {
    width: 100%;
  }

  &-contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;

    gap: 20px;

    &-me {
      flex: 300px 1;
    }

    &-hero {
      flex: 300px 0;
      aspect-ratio: 1;
      max-width: 500px;

      &-img {
        border-radius: inherit;

        width: 100%;
      }
    }
  }
}