.contact-section {
  display: flex;
  flex-direction: column;

  gap: 15px;
  
  &-content {
    display: flex;
    align-items: end;
    flex-wrap: wrap;    

    gap: inherit;

    &-hero {
      flex: 300px 1;
      aspect-ratio: 1;
      max-width: 500px;

      &-img {
        border-radius: inherit;

        width: 100%;
      }
    }
  }
}