.navbar {
  position: sticky;
  z-index: 10;
  
  top: var(--navbar-top);
  width: 100%;
  
  &-inner {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--app-navbar-bg);
    
    width: 100%;
    padding: 10px 10px;
    border-radius: 8px 8px 0 0;

    &-logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      cursor: pointer;

      background-color: var(--app-bg);

      padding: 4px;
      gap: 8px;
      border-radius: 4px;

      &-symbol {
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

        height: 16px;
        width: 16px;
        border-radius: 4px;

        &-fill {
          width: 16px;
          height: 16px;
          
          &.nr1 {
            fill: #0e4429;
          }
          &.nr2 {
            fill: #006d32;
          }
          &.nr3 {
            fill: #26a641;
          }
          &.nr4 {
            fill: #39d353;
          }
        } 
      }

      &-text-container {
        position: relative;
        overflow-x: hidden;

        transition: 400ms ease-in-out;
        
        width: 60px;
        height: 100%;
        
        &-text {
          white-space: nowrap;
          transform: translateX(-65px);
          transition: 400ms ease-in-out;
          
          font-size: 12px;
          font-weight: 600;
          color: var(--text);
        }
      }
    }

    &-items {
      display: flex;
      justify-content: space-between;

      gap: 8px;

      &-item {
        cursor: pointer;
        color: var(--text-dimmed);
        font-size: 12px;
        font-weight: 600;
        padding: 4px;
        border-radius: 4px;

        &.active {
          color: var(--text);
          background-color: var(--app-bg);
        }
        
        &:hover {
          color: var(--text);
          background-color: var(--app-bg);
          opacity: 60%;
        }
      }
    }
  }

  &-eraser {
    position: fixed;
    z-index: 1;

    background: var(--bg);

    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--navbar-top) + 10px);
  }
}

@media (min-width: 500px) {
  .navbar {
    &-inner {
      &-logo {
        &:hover &-text-container {
          width: 120px;        
        
          &-text {
            transform: translateX(0);
          }
        }
      }
    }
  }

}

@media (max-width: 440px) {
 .navbar {
    &-inner {
      &-logo {
        &-symbol {
          &.nr1, &.nr2, &.nr3{
            display: none;
          }          
        }
      }
    }
  }
}

@media (max-width: 360px) {
 .navbar {
    &-inner {
      &-logo {
        &-text {
          display: none;        
        }
      }
    }
  }
}